<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Graph editor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='app_romulus.css')}}">
  </head>

  <body>
  <div id="option">
    Take a Snapshot:
    <input name="snapshotButton"
                 type="button"
                value="Snapshot"
                onclick="returnData()" />
    Update To new states:
    <input name="updateButton"
                 type="button"
                value="Update"
                onclick="updateData()" />
  </div>
  </body>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="{{url_for('static', filename='app_romulus.js')}}"></script>
  
</html>